<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Productos </title>
</head>
<body>
    <h1> Lista de Productos </h1>

    <form action="/add-product" method="POST">
        <label for="name"> Nombre del Producto: </label>
        <input type="text" name="name" id="name" required>
        <label for="price"> Precio: </label>
        <input type="number" name="price" id="price" required>
        <button type="submit"> Agregar Producto </button>
    </form>

    <ul>
        {{#each products}}
            <li> {{name}} - ${{price}} <form action="/delete-product/{{id}}" method="POST"><button type="submit">Eliminar</button></form> </li>
        {{/each}}
    </ul>

    <a href="/realtimeproducts"> Ver Productos en Tiempo Real </a>
    
</body>
</html>